Repository mintona/adopt_dont_shop_part_two, pull requests merged in 2019-12, with the labels that each got.

#37 Merge Feature/av shelter reviews into Master
  app/assets/stylesheets/application.css
  app/controllers/reviews_controller.rb
  app/controllers/shelters_controller.rb
  app/models/review.rb
  app/models/shelter.rb
  app/views/layouts/application.html.erb
  app/views/reviews/new.html.erb
  app/views/shelters/show.html.erb
  config/routes.rb
  db/migrate/20191203191043_create_reviews.rb
  db/migrate/20191203191652_add_shelters_to_reviews.rb
  db/schema.rb
  db/seeds.rb
  spec/features/reviews/new_spec.rb
  spec/features/shelters/show_spec.rb
  spec/models/review_spec.rb
  spec/models/shelter_spec.rb
Labels: Shelter Reviews

#40 Merge Feature/delete shelter review into master
  app/controllers/reviews_controller.rb
  app/views/reviews/new.html.erb
  app/views/shelters/show.html.erb
  config/routes.rb
  spec/features/reviews/destroy_spec.rb
Labels: Shelter Reviews

#41 Merge Feature/shelter reviews flash into master
  app/controllers/reviews_controller.rb
  app/views/reviews/edit.html.erb
  spec/features/reviews/edit_spec.rb
Labels: Shelter Reviews

#43 Merge Feature/favorite a pet/story 8 and 9 into master
  app/controllers/application_controller.rb
  app/controllers/favorites_list_controller.rb
  app/controllers/pets_controller.rb
  app/models/favorites_list.rb
  app/views/layouts/application.html.erb
  app/views/pets/show.html.erb
  config/routes.rb
  spec/features/favorites_list/add_pet_spec.rb
  spec/features/site_navigation_spec.rb
  spec/models/favorites_list_spec.rb
Labels: Favorite a Pet

#45 Merge Feature/favorite a pet/story 12 to master
  app/controllers/favorites_list_controller.rb
  app/models/favorites_list.rb
  app/views/pets/show.html.erb
  config/routes.rb
  spec/features/favorites_list/add_pet_spec.rb
  spec/features/favorites_list/destroy_spec.rb
  spec/models/favorites_list_spec.rb
Labels: Favorite a Pet

#49 Feature/apply/story 16
  app/controllers/applications_controller.rb
  app/controllers/favorites_list_controller.rb
  app/models/application.rb
  app/models/favorites_list.rb
  app/models/pet.rb
  app/models/pet_application.rb
  app/views/applications/new.html.erb
  app/views/favorites_list/index.html.erb
  config/routes.rb
  db/migrate/20191207200630_create_applications.rb
  db/migrate/20191207200839_create_pet_applications.rb
  db/schema.rb
  spec/features/applications/new_spec.rb
  spec/models/application_spec.rb
  spec/models/favorites_list_spec.rb
  spec/models/pet_application_spec.rb
  spec/models/pet_spec.rb
Labels: Apply For Pet(s)

#51 Merge Feature/apply/story 17 into master
  app/controllers/applications_controller.rb
  spec/features/applications/new_spec.rb
Labels: Apply For Pet(s)

#52 Merge Feature/apply/story 18 into master
  app/controllers/favorites_list_controller.rb
  app/models/favorites_list.rb
  app/models/pet.rb
  app/views/favorites_list/index.html.erb
  db/seeds.rb
  spec/features/applications/index_spec.rb
  spec/features/applications/new_spec.rb
  spec/features/favorites_list/index_spec.rb
  spec/models/favorites_list_spec.rb
  spec/models/pet_spec.rb
Labels: Apply For Pet(s)

#53 Merge Refactor/applications new spec into master for bug fix
  app/controllers/applications_controller.rb
  db/seeds.rb
  spec/features/applications/new_spec.rb
Labels: Apply For Pet(s), bug

#54 Feature/apply/story 19
  app/controllers/applications_controller.rb
  app/views/applications/show.html.erb
  config/routes.rb
  spec/features/applications/show_spec.rb
Labels: Apply For Pet(s)

#55 Merge Refactor/applications favorites joins into master
  app/controllers/applications_controller.rb
  app/models/pet.rb
  app/views/favorites_list/index.html.erb
  spec/features/applications/new_spec.rb
  spec/models/pet_spec.rb
Labels: Apply For Pet(s)

#56 Feature/apply/story 20
  app/controllers/applications_controller.rb
  app/models/application.rb
  app/views/applications/index.html.erb
  app/views/applications/show.html.erb
  app/views/pets/show.html.erb
  config/routes.rb
  spec/features/applications/index_spec.rb
  spec/features/applications/show_spec.rb
  spec/models/application_spec.rb
Labels: Apply For Pet(s)

#57 Feature/apply/story 21
  app/views/applications/index.html.erb
  spec/features/applications/index_spec.rb
Labels: Apply For Pet(s)

#59 Merge Feature/apply/story 22 to Master
  app/assets/stylesheets/application.css
  app/controllers/applications_controller.rb
  app/controllers/pet_applications_controller.rb
  app/controllers/pets_controller.rb
  app/models/pet.rb
  app/views/applications/show.html.erb
  app/views/layouts/application.html.erb
  app/views/pets/show.html.erb
  config/routes.rb
  db/migrate/20191210025616_add_approved_to_pet_applications.rb
  db/schema.rb
  spec/features/applications/new_spec.rb
  spec/features/pet_applications/edit_spec.rb
  spec/features/pets/show_spec.rb
  spec/models/pet_spec.rb
Labels: Apply For Pet(s)

#60 Refactor/partials
  app/views/pets/_form.html.erb
  app/views/pets/edit.html.erb
  app/views/pets/new.html.erb
  app/views/reviews/_form.html.erb
  app/views/reviews/edit.html.erb
  app/views/reviews/new.html.erb
  app/views/shelters/_form.html.erb
  app/views/shelters/edit.html.erb
  app/views/shelters/new.html.erb
Labels: Apply For Pet(s)

#62 Feature/apply/story 25
  app/controllers/favorites_list_controller.rb
  app/controllers/pet_applications_controller.rb
  app/views/applications/show.html.erb
  spec/features/pet_applications/edit_spec.rb
Labels: Apply For Pet(s)

#63 Feature/shelters/story 26
  app/models/shelter.rb
  app/views/shelters/index.html.erb
  app/views/shelters/show.html.erb
  spec/features/shelters/destroy_spec.rb
  spec/models/shelter_spec.rb
Labels: Shelters

#64 Features/shelters/story 27
  app/models/pet.rb
  app/models/shelter.rb
  spec/features/shelters/destroy_spec.rb
Labels: Shelters

#65 Merge Refactor/unapprove buttons to master
  app/models/pet.rb
  app/views/applications/show.html.erb
  spec/features/pet_applications/edit_spec.rb
  spec/models/pet_spec.rb
Labels: Apply For Pet(s)

#66 Merge Feature/pet/story 31 into master
  app/controllers/pets_controller.rb
  config/routes.rb
  spec/features/pets/destroy_spec.rb
Labels: Pet

#69 Features/shelters/story 29
  app/controllers/shelters_controller.rb
  spec/features/shelters/edit_spec.rb
  spec/features/shelters/new_spec.rb
Labels: Shelters

#71 Features/shelters/story 30
  app/models/shelter.rb
  app/views/shelters/show.html.erb
  spec/features/reviews/new_spec.rb
  spec/features/shelters/show_spec.rb
  spec/models/shelter_spec.rb
Labels: Shelters

#76 Extensions/story 37
  app/models/pet.rb
  app/views/favorites_list/index.html.erb
  spec/features/favorites_list/index_spec.rb
  spec/models/pet_spec.rb
Labels: Extensions

#78 Merge Extensions/story 38 into master
  app/controllers/reviews_controller.rb
  spec/features/reviews/new_spec.rb
Labels: Extensions
